---
import MainLayout from "@layouts/MainLayout.astro"
---

<MainLayout>
	<section class="flex flex-col items-center justify-center">
		<h1 class="text-3xl">Welcome to Astro!</h1>
		<p>This is a simple example of an Astro page.</p>
	</section>	
</MainLayout>
